{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400&display=swap" rel="stylesheet">

    <!--  Custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">



</head>
<body>


    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 offset-md-2">
                    <h1 class="title">Наш магазин скоро откроется!<br/>
                   Оставляйте Ваш email в форме ниже</h1>
                    <div>
<!--                        class = "form-inline"-->
                        <form action="" method="post" class="form-group justify-content-center">{%  csrf_token %}
                            <div class="form-group">
                                <label>Ваш email: </label>
                                <input name="{{form.email.name}}" class="form-control" id="ExampleInputEmail1">
                            </div>

                            <div class="form-group">
                                <label>Ваше имя: </label>
                                <input name="{{form.name.name}}" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-primary btn-blue">Отправить</button>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!--  jQuery -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!--  Latestcompiled and minified JavaScript --->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>